//INDEX

//WORKS 

#btnCerrar{
    position:absolute;
    top: 55px;
    left: 1%;
    // width:30px;
    // height: 30px;
    font-size: 20px;
    // font-size: 2.3rem;
    color:#D4D4D4;
    font-weight: lighter;
    background-color: transparent;
    border:transparent solid 2px;
}

//SHORTFILMS


#shortfilms__carrouselImg__btnCerrar{
    position:absolute;
    top: 5px;
    left: 50%;
    width:30px;
    height: 30px;
    font-size: 2.3rem;
    color:#D4D4D4;
    font-weight: lighter;
    background-color: transparent;
    border:transparent solid 2px;
}
