//INDEX 

/*flechas del carousel*/ 

//WORKS 

.works__container {  
    position:relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 0.05fr 1.5fr 0.05fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "navBar"
        "works__nombresDeArtistas__container"
        "works__imagenes__container"
        "works__footer";
}

//SHORTFILMS

.shortfilms__container {  
  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.25fr 2.5fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navBar"
      "shortfilms__title__container"
      "shortfilms__videos__container";
  }
  
  .navBar { 
    grid-area: navBar;
  }
  
  
  .shortfilms__title__container { 
    grid-area: shortfilms__title__container; 
  }
  
  .shortfilms__videos__container {  
    display: grid;
    grid-template-columns:2.5fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "shortfilms__video2__container"
      "shortfilms__video1__container";
    grid-area: shortfilms__videos__container;
    justify-items: center;
    overflow: hidden;
  }
  
  .shortfilms__video1__container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "video1__image__container video1__image__container video1__image__container"
      "video1__image__container video1__image__container video1__image__container"
      "video1__sinopsis__container video1__sinopsis__container video1__sinopsis__container";
    grid-area: shortfilms__video1__container;
  }
  
  .video1__image__container { grid-area: video1__image__container; }
  
  .video1__sinopsis__container { grid-area: video1__sinopsis__container; }
  
  .shortfilms__video2__container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "video2__image__container video2__image__container video2__image__container"
      "video2__image__container video2__image__container video2__image__container"
      "video2__sinopsis__container video2__sinopsis__container video2__sinopsis__container";
    grid-area: shortfilms__video2__container;
  }
  
  .video2__image__container { grid-area: video2__image__container; }
  
  .video2__sinopsis__container { grid-area: video2__sinopsis__container; }
  
  .shortfilms__margin__left { grid-area: shortfilms__margin__left; }
  
  .shortfilms__margin__right { grid-area: shortfilms__margin__right; }
  