//GENERALES

.offcanvas-header {
    padding: 1.95rem 1rem;
}

//WORKS 

.card__container:hover .imagen__container img{
    opacity: 50%;
    transition: ease 0.9s;
}

.index__responsiveElementContainer__1:hover img{
    opacity: 50%;
    transition: all 1s;
}

.index__responsiveElementContainer__2:hover img{
    opacity: 50%;
    transition: all 1s;
}

.index__responsiveElementContainer__3:hover img{
    opacity: 50%;
    transition: all 1s;
}

.index__responsiveElementContainer__4:hover img{
    opacity: 50%;
    transition: all 1s;
}

.card__container:hover .card__info{
    display: block;
} 

.nublar{
    opacity:10%;
}

.achicar{
    height:0px;
}

#btnCerrar:hover{
    color:#F2F2F2;
}

//SHORTFILMS  

.shortfilms__premios__container div:hover{
    opacity: 0.6;
    transition: ease 0.9s;
}

#shortfilms__carrouselImg__btnCerrar:hover{
    color:#F2F2F2;
}
