//GENERALES 


.font {
    font-family: "Montserrat";
}

#anchor__bagaStudio__logo{
    color: white;
}


//INDEX

#index__imagenCarrousel__container div h5{
    font-family: $tipografiaInfoCards;
    color:$colorTipografiaInfoCards;
    font-size: $tFuenteInfoCardsIndex;
    text-align: center;
}

.index__artista__responsiveTitulo{
    font-family: "Montserrat";
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.245em;
    text-align: center;
    color: #DCDCDC;
    margin-bottom: 20px;
    width: 100%;
    transition: all 1s;
}

.index__cancion__responsiveTitulo{
    font-family: "Montserrat";
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.245em;
    color: #DCDCDC;
    transition: all 1s;
}

//WORKS 

.works__nombresDeArtistas__container div h2{
    font-family: $tipografiaTitulosDeSeccion;
    font-size: $tFuenteTitulosDeSeccion;
    color: $colorTipografiaTitulosDeSeccion; 
    letter-spacing: 8px;
    font-weight:300;
}

.card__info h3{
    font-family: $tipografiaInfoCards;
    color: $colorTipografiaInfoCards;
    cursor:pointer;
    font-size:$tFuenteInfoCardsClips ;
}

@media (max-width:1401px) {
    .card__info h3{
        font-size:1.8rem;
    }
}

@media (max-width:1301px) {
    .card__info h3{
        font-size:1.6rem;
    }
}

@media (max-width:1201px) {
    .card__info h3{
        font-size:1.4rem;
    }
}

@media (max-width:1101px) {
    .card__info h3{
        font-size:1.2rem;
    }
}

//CORTOS 

.shortfilms__titulo{
    font-size: $tFuenteTitulosDeSeccion;
    font-family: $tipografiaTitulosDeSeccion;
    color: $colorTipografiaTitulosDeSeccion; 
    letter-spacing: 8px;
}

.video1__titulo__container h5 strong{
    font-family: $tipografiaTitulosDeImagenesShortFilms;
    color:$colorTipografiaTitulosDeImagenesShortFilms;
    font-size: $tFuenteTitulosDeImagenesDeShortfilms;
    //opacity:0;
}


.video2__titulo__container h5 strong{
    font-family: $tipografiaTitulosDeImagenesShortFilms;
    color:$colorTipografiaTitulosDeImagenesShortFilms;
    font-size: $tFuenteTitulosDeImagenesDeShortfilms;
}

//ABOUT US

.baga {
    font-size: 22px;
    letter-spacing: 8px;
}

#aboutUs__titulo__container h2{
    padding-top: 0px;
    padding-left: 0px;
    letter-spacing: 8px;
    font-size: $tFuenteTitulosDeSeccion;
    font-family: $tipografiaTitulosDeSeccion;
    color: $colorTipografiaTitulosDeSeccion;
}

//CONTACTO

.contacto__titulo{
    font-family: $tipografiaTitulosDeSeccion; 
    letter-spacing: 8px;
    font-size: $tFuenteTitulosDeSeccion;
    color:$colorTipografiaTitulosDeSeccion;
    padding-top: 70px;
    padding-left: 70px;
}

@media (max-width:1201px) {
    .contacto__titulo{
        font-size: 35px;
    }
}

@media (max-width:901px) {
    .contacto__titulo{
        font-size: 30px;
    }
}



