/*GENERALES*/  

//Tipografia en cards
$tipografiaInfoCards: "Montserrat";
$colorTipografiaInfoCards: white;
$tFuenteInfoCardsIndex: 2rem;
$tFuenteInfoCardsIndexTablet:2.5rem;
$tFuenteInfoCardsIndexMobile:2rem;
$tFuenteInfoCardsClips: 2rem;
$tFuenteInfoCardsClipsTablet:1.3rem;
$tFuenteInfoCardsClipsMobile:1.3rem;


//Titulos de Seccion
$tipografiaTitulosDeSeccion: "Montserrat";
$tFuenteTitulosDeSeccion: 40px;
$tFuenteTitulosDeSeccionTablet: 35px;
$tFuenteTitulosDeSeccionMobile: 30px;
$colorTipografiaTitulosDeSeccion:#850808;


//Titulos de imagenes estaticas de ShortFilms 
$tipografiaTitulosDeImagenesShortFilms:"Montserrat";
$tFuenteTitulosDeImagenesDeShortfilms: 3rem;
$colorTipografiaTitulosDeImagenesShortFilms:#850808;

//Tipografias de textos  
$tipografiaDeTextos: "Montserrat";
$colorTipografiaDeTextos: aliceblue;
$tFuenteTextos:1rem;  