@import "variables";
@import "grids";
@import "containers";
@import "margenes";
@import "titulos";
@import "parrafos";
@import "botones";
@import "imagenes";
@import "videos";
@import "pseudoClases";
@import "mediaQuaries";




.altura__imagenesCarrousel__shortfilms{
    height:550px;
    object-fit: cover;
}

.IndexexistoSoloParaMobile{
    display:none;
}
.works__redesMobile__container{
    display:none;
}

.fondoNegro__body{
    background-color: black;
}


@media (max-width:500px) {
    .logo__insatagram__navbar{
        display:none;
    }
    .works__nombresDeArtistas__container div {
        width: 100%;
    }
    .works__nombresDeArtistas__container div h2 {
        font-size: 30px;
        margin-left: 0px; 
        width: 100%;
        text-align: center;
    }
    .works__nombresDeArtistas__container div {
        margin-top: 85px;
    }
}

@media (max-width:1024px) {
    #index__imagenCarrousel__container div h5 {
        font-size: 2.8rem;
    }
}


@media (max-width:501px) {
    .works__redesMobile__container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 55px;
    }
    .works__redesMobile__container div{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        margin-top: 0px;
    }
    #carouselExampleControls{
        display: none;
    }
    
}

.shortfilms__boton__galeria{
    border:  	#404040 solid 2px;
    border-radius: 20px;
    background-color: #1A1919;
    width: 180px;
    color: 	#DCDCDC;
    font-family: "Montserrat";
}

.shortfilms__boton__galeria:hover{
    border:  #DCDCDC solid 2px;
    border-radius: 20px;
    background-color: black;
    width: 180px;
    color: #DCDCDC;
    transition: 1s;
}


.shortfilms__tituloCortometraje{
    font-family: "Montserrat";
    font-size: 34px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0.245em;
    text-align: left;
    color: #DCDCDC;
}

.shortfilms__tituloCortometraje strong{
    margin-left: 25px;
}

.index__artista__titulo{
    font-family: "Montserrat";
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.245em;
    text-align: center;
    color: #DCDCDC;
    margin-bottom: 40px;
    width: 100%;
    text-align: end;
}

.index__cancion__titulo{
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.245em;
    text-align: end;
    color: #DCDCDC;
}
@media (max-width:901px) {
    .index__artista__titulo{
        font-size: 2rem;
    }
    .index__cancion__titulo{
        font-size: 1.8rem;
    }
}
@media (max-width:801px) {
    .index__artista__titulo{
        font-size: 2rem;
    }
    .index__cancion__titulo{
        font-size: 1.6rem;
    }
}

@media (max-width:501px) {
    .index__artista__titulo{
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .index__cancion__titulo{
        font-size: 1.2rem;
        text-align: center;
        width: 100%;
    }
}

@media (max-width:321px) {
    .index__artista__titulo{
        display: none;
    }
    .index__cancion__titulo{
        font-size: 1.7rem;
        line-height: 35px;
    }
}




/*Titulo de los cortometrajes*/

@media (max-width:1501px) {
    .shortfilms__tituloCortometraje {
        font-size: 28px;
    }
}

@media (max-width:1401px) {
    .shortfilms__tituloCortometraje {
        font-size: 25px;
        margin-left: 10px;
    }
}

@media (max-width:1201px) {
    .shortfilms__tituloCortometraje {
        margin-left: 20px;
    }
}

@media (max-width:993px) {
    .shortfilms__tituloCortometraje {
        margin-left: 25px;
    }
}

@media (max-width:769px) {
    .shortfilms__tituloCortometraje {
        margin-left: 35px;
        font-size: 28px;
    }
    .works__nombresDeArtistas__container {
        margin-top: 20px;
    }
    .card__container {
        height: 300px;
    }
}

@media (max-width:321px) {
    .shortfilms__tituloCortometraje {
        margin-left: -10px;
    }
}

@media (max-width:700px) {
    .shortfilms__tituloCortometraje {
        font-size: 26px;
    }
}

.shortfilms__premios__container__IpadVert{
    display: none;
}

.shortfilms__atajoPremios__container__IpadVert{
    display: none;
}

@media (max-width:769px) {
    .shortfilms__premios__container__IpadVert{
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    .shortfilms__atajoPremios__container__IpadVert{
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
}

@media (max-width:501px) {
    .shortfilms__premios__container__IpadVert{
        flex-direction: column;
    }
    .shortfilms__atajoPremios__container__IpadVert{
       flex-direction: column;
       height: 450px;
    }
}

/*Titulo en blanco de cortometrajes*/
@media (max-width:769px) {
    .shortfilms__tituloCortometraje strong {
        margin-left: 30px;
    }
}

@media (max-width:501px) {
    .shortfilms__tituloCortometraje strong {
        margin-left: 0px;
    }
    .video1__sinopsis__container {
        margin-bottom: 0px; 
    }
    .navbar-nav{
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        padding-right:0px !Important
    }
    #aboutUs__titulo__container h2 {
        width: 100%;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }
    #aboutUs__tituloYtexto__container {
        margin-top: 200px;
    }
    #aboutUs__texto__container {
        margin-top: 40px;
    }
}

@media (max-width:401px) {
    #aboutUs__tituloYtexto__container {
        margin-top: 160px;
    }
}

@media (max-width:321px) {
    .works__nombresDeArtistas__container div h2 {
        font-size: 20px;
    }
}

@media (min-width:600px) and (max-width:900px) {
    #aboutUs__texto__container {
        text-align: center;
        margin-top: 280px;
    }
}

@media (max-width:501px) {
    .shortfilms__title__container {
        margin-left: 0px;
    }
    .shortfilms__tituloCortometraje{
        margin: 0px;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}


/*Tamaño imagen de carrousel*/

@media (max-width:1401px) {
    .altura__imagenesCarrousel__shortfilms {
        height: 520px;
    }
}

@media (max-width:1301px) {
    .altura__imagenesCarrousel__shortfilms {
        height: 500px;
    }
}

@media (max-width:1201px) {
    .altura__imagenesCarrousel__shortfilms {
        height: 480px;
    }
}

@media (max-width:1101px) {
    .altura__imagenesCarrousel__shortfilms {
        height: 460px;
    }
}

@media (max-width:1001px) {
    .altura__imagenesCarrousel__shortfilms {
        height: 440px;
    }
}

@media (max-width:901px) {
    .altura__imagenesCarrousel__shortfilms {
        height: 390px;
    }
}

@media (max-width:801px) {
    .altura__imagenesCarrousel__shortfilms {
        height: 300px;
    }
}


@media (max-width:401px) {
    #btnCloseMenuMobile{
        margin-right: 8.5rem;
    }
}

@media (max-width:386px) {
    #btnCloseMenuMobile{
        margin-right: 7.5rem;
    }
}

@media (max-width:371px) {
    #btnCloseMenuMobile{
        margin-right: 6.5rem;
    }
}

@media (max-width:351px) {
    #btnCloseMenuMobile{
        margin-right: 5.5rem;
    }
}

@media (max-width:336px) {
    #btnCloseMenuMobile{
        margin-right: 4.5rem;
    }
}

@media (max-width:401px) {
    #contactUs__information__container {
        margin-top: 40px;
    }
}

@media (max-width:371px) {
    .shortfilms__video1__container {
        justify-content: flex-start;
    }
}

.desaparecer{
    display:none;
}

.offcanvas-body {
    display: flex;
    align-items: center;
}